*{
    box-sizing: border-box; 
    padding:0;
    margin: 0;
}

body{
    display: block;
}
.contenedor-nav{
    width: 100%;
    column-count: 2;
    height: 40px;
    background-color: black;
    display: flex;
}
.contenedor-nav header{
    width: 100%;
    padding:0px;
}
.contenedor-nav__item-logo{
    margin: 0;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    width:50%
}

.contenedor-nav__item{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 0;
    width: 50%
}

.contenedor-nav__item-lista{
    text-align: right;
}

.contenedor-nav__item-lista li{
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.contenedor-nav__item-lista a{
    text-decoration: none;
    color:white;
}

.contenedor-nav__item-lista a:hover{
    color: #cccccc;
}

.contenedor-nav__item-lista{
    margin: 0px;
}

.contenedor-nav__item-logo{
    font-size: 17px;
    margin: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding:10px;
}

.contenedor-nav__item-img{
    height: 30px;
    margin:5px;
}

footer{
    display:flex;
    align-items: flex-end;
}