<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body style="margin: 0px;"><!--
        <div>Crear Autor</div>
        <form th:action="@{/autor/guardar}" method="POST">
            <label>Nombre:</label>
            <input type="text" name="nombre"/>
            <input type="hidden" name="alta" value="true" />
            <button type="submit">Registrar</button>
        </form>-->
        <div style="background-color: red; width:100%; height: 700px;display:flex; flex-direction: row-reverse; align-items: center;position: absolute">
            <div style="background-color: blue;width:50%;height: 100px;position: relative;left:-100px;z-index: 3;"><!--z-index:Cuanto mas alto mas prioridad-->
                
            </div>
            <div style="background-color: black;width:50%;height: 100px;z-index: 2">
                
            </div>
            <div class="div-3" style="background-color: yellow;width:50%;height: 100px;position: relative;top:100px">
                <a style="padding:10px; background-color: #0099cc" href="">-</a>
            </div>
        </div>
    </body>
</html>
